.hero {
  position: relative;
  display: block;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 0px;
  border-radius: 8px;
  background-image: url('Images/tesla-model-s.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 -1px 16px 7px rgba(99, 95, 95, .86);
}

.heronav {
  display: inline;
}

.navbadge {
  top: 0px;
  bottom: 0px;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(315deg, #fff 22%, #000), url('../images/Tesla-T-logo.jpg');
  background-image: linear-gradient(135deg, #fff 22%, #000), url('../images/Tesla-T-logo.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  opacity: 0.37;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
  cursor: pointer;
}

.navbadge:hover {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url('../images/Tesla-T-logo.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url('../images/Tesla-T-logo.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.header {
  display: block;
  font-family: Lato, sans-serif;
  font-size: 45px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-indent: 0px;
  text-shadow: 0 20px 7px hsla(0, 5%, 59%, .64);
}

.body {
  background-color: hsla(0, 0%, 78%, .77);
}
